
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>LMS | Admin Log in</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="dist/css/adminlte.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition login-page">
<div class="login-box" style="width:100%; margin: 20px; padding: 20px;">
  <div class="login-logo">
    <a href="javascript:void(0)"> <%= inst %></a>
    <br>
    Information form
  </div>
  <br>
  Instructions: Please fill in all details. All questions are mandatory. 
  <br><br>

  <% if(messages.success){ %>
    <div class="alert alert-success">
      <%= messages.success %>
    </div>  
  <% } %>

  <% if(messages.error){ %>
    <div class="alert alert-danger">
      <%= messages.error %>
    </div>  
  <% } %>

     

      


      <form id="frm-add-category" name="frm-add-category" method="post" action="/createsssstud">
       
     

    Enter Name<br /><br />

<input type="text" required style="width:100%;" className="form-control" placeholder="Enter Name" id="student" name="student" />
<br /><br />

Gender<br />

<input type="radio" id="gender" name="gender" value="Male" required>Male<br />
<input type="radio" id="gender" name="gender" value="Female" required>Female<br />
<input type="radio" id="gender" name="gender" value="Others" required>Others<br />
<br /><br />

Category<br />

<input type="radio" id="category" name="category" value="Gen" required>Gen<br />
<input type="radio" id="category" name="category" value="SC" required>SC<br />
<input type="radio" id="category" name="category" value="ST" required>ST<br />
<input type="radio" id="category" name="category" value="OBC" required>OBC<br />
<input type="radio" id="category" name="category" value="Others" required>Others<br />
<br /><br />

Enter Original state of domicile<br /><br />

<input type="text" required style="width:100%;" className="form-control" placeholder="Enter Original state of domicile" id="domicile" name="domicile" />
<br /><br />

Enter Nationality<br /><br />

<input type="text" required style="width:100%;" className="form-control" placeholder="Enter Nationality" id="nationality" name="nationality" />
<br /><br />

Enter Email<br /><br />

<input type="text" required style="width:100%;" className="form-control" placeholder="Enter Email" id="email" name="email" />
<br /><br />

Level of program<br />

<input type="radio" id="level" name="level" value="UG" required>UG<br />
<input type="radio" id="level" name="level" value="PG" required>PG<br />
<br /><br />

Faculty<br />

<input type="radio" id="discipline" name="discipline" value="Science" required>Science<br />
<input type="radio" id="discipline" name="discipline" value="Arts" required>Arts<br />
<input type="radio" id="discipline" name="discipline" value="Engineering" required>Engineering<br />
<input type="radio" id="discipline" name="discipline" value="ISLM" required>ISLM<br />
<br /><br />

Enter Department<br /><br />

<input type="text" required style="width:100%;" className="form-control" placeholder="Enter Department" id="department" name="department" />
<br /><br />

Enter Program name e.g. B.E. in Computer Science and Engineering<br /><br />

<input type="text" required style="width:100%;" className="form-control" placeholder="Enter program name" id="course" name="course" />
<br /><br />

Enter roll no<br /><br />

<input type="text" required style="width:100%;" className="form-control" placeholder="Enter roll no" id="regno" name="regno" />
<br /><br />

Enter Mobile<br /><br />

<input type="text" required style="width:100%;" className="form-control" placeholder="Enter Mobile" id="mobile" name="mobile" />
<br /><br />

Enter Joining year e.g. 2021-22<br /><br />

<input type="text" required style="width:100%;" className="form-control" placeholder="Enter Joining year" id="joinyear" name="joinyear" />
<br /><br />





              
             
             
              
             
               
        <br>
        <input type="hidden" value="<%= colid %>" name="colid"/>
        <input type="hidden" value="<%= name %>" name="name"/>
        <input type="hidden" value="<%= user %>" name="user"/>
      
        <button class="btn btn-dark" type="submit">Submit</button>
        </form>
<br><br>
  
</div>
<!-- /.login-box -->

<!-- jQuery -->
<script src="plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/adminlte.min.js"></script>

</body>
</html>
