<%- include("header") %>

<style>
    #frm-add-category label.error{
        color:red;
    }
</style>

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Edit Placement details</h1>
            </div>
            <div class="col-sm-8">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                    <li class="breadcrumb-item"><a href="/viewcompany">Employer</a></li>
                    <li class="breadcrumb-item active">Edit student placement details</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements disabled -->
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">Edit Outgoing Student Placement Details</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <form id="frm-add-category" name="frm-add-category" method="post" action="/editplacementerp/<%= pub._id %>">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Academic Year</label>
                                        <select class="form-control" name="year">
                                            <option <% if(pub.year == '2015-16'){ %>  selected <% } %> value="2015-16">2015-16</option>
                                            <option <% if(pub.year == '2016-17'){ %> selected <%  }  %> value="2016-17">2016-17</option>
                                            <option <% if(pub.year == '2017-18'){ %> selected <%  }  %> value="2017-18">2017-18</option>
                                            <option <% if(pub.year == '2018-19'){ %> selected <%  }  %> value="2018-19">2018-19</option>
                                            <option <% if(pub.year == '2019-20'){ %> selected <%  }  %> value="2019-20">2019-20</option>
                                            <option <% if(pub.year == '2020-21'){ %> selected <%  }  %> value="2020-21">2020-21</option>
                                            <option <% if(pub.year == '2021-22'){ %> selected <%  }  %> value="2021-22">2021-22</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Name of student placed</label>
                                        <input required value="<%= pub.studentname %>" type="text" class="form-control" placeholder="Enter the name of student placed" name="studentname">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Reg no of student placed</label>
                                        <input required value="<%= pub.regno %>" type="text" class="form-control" placeholder="Enter reg no of student placed" name="regno">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Contact details of the student</label>
                                        <input required value="<%= pub.studcontactdetails %>" type="number" class="form-control" placeholder="Enter contact details of the student placed" name="studcontactdetails">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Name of program student graduated from</label>
                                        <input required value="<%= pub.programname %>" type="text" class="form-control" placeholder="Enter the name of program student graduated from" name="programname">
                                    </div>
                                </div>
                               
                                <div class="col-sm-6">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Contact details of the employer</label>
                                        <input required value="<%= pub.empcontactdetails %>" type="number" class="form-control" placeholder="Enter contact details of the employer" name="empcontactdetails">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Pay package at appointmnet(in INR/annum)</label>
                                        <input required value="<%= pub.salary %>" type="number" class="form-control" placeholder="Enter the pay package at appointment(in INR per annum)" name="salary">
                                    </div>
                                </div>
                                
                                <div class="col-sm-6">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Status</label>
                                        <input required value="<%= pub.status1 %>" type="text" class="form-control" placeholder="Enter the Status" name="status1">
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Comments</label>
                                        <input required value="<%= pub.comments %>" type="text" class="form-control" placeholder="Enter the Comments" name="comments">
                                    </div>
                                </div>
                                
                            </div>

                            <button class="btn btn-dark" type="submit">Submit</button>
                        </form>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<%- include("footer") %>