<%- include("header") %>

<style>
    #frm-add-category label.error{
        color:red;
    }
</style>

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Edit task assignment</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Edit task assignment</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements disabled -->
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">Edit task assignment</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <form id="frm-add-category" name="frm-add-category" method="post" action="/edittaskmy/<%= pub._id %>">
                            <div class="row">
                              
                                
                                <div class="col-sm-6">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Comments</label>
                                        <input required value="<%= pub.comments %>" type="text" class="form-control" placeholder="Enter comments" name="comments">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Document link</label>
                                        <input required value="<%= pub.documentlink %>" type="text" class="form-control" placeholder="Enter document link" name="documentlink">
                                    </div>
                                </div>
                               
                               
                               
                               
                               
                               
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Status</label>
                                        <select class="form-control" name="status">
                                            <option <% if(pub.status == 'Assigned'){ %>  selected <% } %> value="Assigned">Assigned</option>
                                            <option <% if(pub.status == 'In progress'){ %> selected <%  }  %> value="In progress">In progress</option>
                                            <option <% if(pub.status == 'Blocker'){ %> selected <%  }  %> value="Blocker">Blocker</option>
                                            <option <% if(pub.status == 'Completed'){ %> selected <%  }  %> value="Completed">Completed</option>
                                            <option <% if(pub.status == 'Rejected'){ %> selected <%  }  %> value="Rejected">Rejected</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <button class="btn btn-dark" type="submit">Submit</button>
                        </form>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<%- include("footer") %>