<%- include("header") %>

<style>
    #frm-add-category label.error{
        color:red;
    }
</style>

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <!-- <div class="col-sm-6">
                <h1 class="m-0 text-dark">Edit Students</h1>
            </div>/.col -->
            <div class="col-sm-8">
                <!-- <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                    <li class="breadcrumb-item"><a href="/viewpassexam">Criteria 2-Teaching-Learning-Evaluation</a></li>
                    <li class="breadcrumb-item"><a href="/viewpassexam">Student Pass Percentage</a></li>
                    <li class="breadcrumb-item active">Edit pass percentage</li>
                </ol> -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements disabled -->
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">Edit Student Pass Percentage</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <form id="frm-add-category" name="frm-add-category" method="post" action="/editpassexam/<%= pub._id %>">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Academic Year</label>
                                        <select class="form-control" name="year">
                                            <option <% if(pub.year == '2015-16'){ %>  selected <% } %> value="2015-16">2015-16</option>
                                            <option <% if(pub.year == '2016-17'){ %> selected <%  }  %> value="2016-17">2016-17</option>
                                            <option <% if(pub.year == '2017-18'){ %> selected <%  }  %> value="2017-18">2017-18</option>
                                            <option <% if(pub.year == '2018-19'){ %> selected <%  }  %> value="2018-19">2018-19</option>
                                            <option <% if(pub.year == '2019-20'){ %> selected <%  }  %> value="2019-20">2019-20</option>
                                            <option <% if(pub.year == '2020-21'){ %> selected <%  }  %> value="2020-21">2020-21</option>
                                            <option <% if(pub.year == '2021-22'){ %> selected <%  }  %> value="2021-22">2021-22</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Program Name</label>
                                        <input required value="<%= pub.programname %>" type="text" class="form-control" placeholder="Enter program name" name="programname">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Program Code</label>
                                        <input required value="<%= pub.programcode %>" type="text" class="form-control" placeholder="Enter program code" name="programcode">
                                    </div>
                                </div>
                                
                                <div class="col-sm-6">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>No.of students appeared in final exam</label>
                                        <input required value="<%= pub.studappear %>" type="text" class="form-control" placeholder="Enter the number of students appeared in final exam" name="studappear">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>No.of students passed in final exam</label>
                                        <input required value="<%= pub.studpass %>" type="text" class="form-control" placeholder="Enter the number of students passed in final exam" name="studpass">
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Status</label>
                                        <input required value="<%= pub.status1 %>" type="text" class="form-control" placeholder="Enter the Status" name="status1">
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Comments</label>
                                        <input required value="<%= pub.comments %>" type="text" class="form-control" placeholder="Enter the Comments" name="comments">
                                    </div>
                                </div>
                                
                                
                            </div>

                            <button class="btn btn-dark" type="submit">Submit</button>
                        </form>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<%- include("footer") %>