<%- include("header") %>

<style>
    #frm-add-category label.error{
        color:red;
    }
</style>

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <!-- <div class="col-sm-6">
                <h1 class="m-0 text-dark">Edit areas of e governance</h1>
            </div>/.col -->
            <div class="col-sm-8">
                <!-- <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                    <li class="breadcrumb-item"><a href="/viewegovern">Criteria 6-Governance-Leadership-Management</a></li>
                    <li class="breadcrumb-item"><a href="/viewegovern">Implementation of E Governance</a></li>
                    <li class="breadcrumb-item active">Edit e-governance area </li>
                </ol> -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements disabled -->
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">Edit Areas of E-governance</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <form id="frm-add-category" name="frm-add-category" method="post" action="/editegovern/<%= pub._id %>">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Areas of E governance</label>
                                        <select class="form-control" name="egovernareas">
                                            <option <% if(pub.egovernareas == 'Administration'){ %>  selected <% } %> value="Administration">Administration</option>
                                            <option <% if(pub.egovernareas == 'Finance and Accounts'){ %> selected <%  }  %> value="Finance and Accounts">Finance and Accounts</option>
                                            <option <% if(pub.egovernareas == 'Student Admission and Support'){ %> selected <%  }  %> value="Student Admission and Support">Student Admission and Support</option>
                                            <option <% if(pub.egovernareas == 'Examination'){ %> selected <%  }  %> value="Examination">Examination</option>
                                            
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Year of Implementation</label>
                                        <select class="form-control" name="yearofimplement">
                                            <option <% if(pub.yearofimplement == '2015-16'){ %>  selected <% } %> value="2015-16">2015-16</option>
                                            <option <% if(pub.yearofimplement == '2016-17'){ %> selected <%  }  %> value="2016-17">2016-17</option>
                                            <option <% if(pub.yearofimplement == '2017-18'){ %> selected <%  }  %> value="2017-18">2017-18</option>
                                            <option <% if(pub.yearofimplement == '2018-19'){ %> selected <%  }  %> value="2018-19">2018-19</option>
                                            <option <% if(pub.yearofimplement == '2019-20'){ %> selected <%  }  %> value="2019-20">2019-20</option>
                                            <option <% if(pub.yearofimplement == '2020-21'){ %> selected <%  }  %> value="2020-21">2020-21</option>
                                            <option <% if(pub.yearofimplement == '2021-22'){ %> selected <%  }  %> value="2021-22">2021-22</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="col-sm-6">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Status</label>
                                        <input required value="<%= pub.status1 %>" type="text" class="form-control" placeholder="Enter the Status" name="status1">
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Comments</label>
                                        <input required value="<%= pub.comments %>" type="text" class="form-control" placeholder="Enter the Comments" name="comments">
                                    </div>
                                </div> 
                                
                            </div>

                            <button class="btn btn-dark" type="submit">Submit</button>
                        </form>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<%- include("footer") %>