<%- include("header") %>

<style>
    #frm-add-category label.error{
        color:red;
    }
</style>

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <!-- <div class="col-sm-6">
                <h1 class="m-0 text-dark">Edit Collaboration Activity</h1>
            </div>/.col -->
            <div class="col-sm-8">
                <!-- <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                    <li class="breadcrumb-item"><a href="/viewecontent">Criteria 3-Research-Consultancy-Extension</a></li>
                    <li class="breadcrumb-item"><a href="/viewecontent">E-content developed by teachers</a></li>
                    <li class="breadcrumb-item active">Edit E-content</li>
                </ol> -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements disabled -->
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">Edit E-content developed by teachers</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <form id="frm-add-category" name="frm-add-category" method="post" action="/editecontent/<%= pub._id %>">
                            <div class="row">
                                <div class="col-sm-6">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Academic Year</label>
                                        <select class="form-control" name="year">
                                            <option <% if(pub.year == '2015-16'){ %>  selected <% } %> value="2015-16">2015-16</option>
                                            <option <% if(pub.year == '2016-17'){ %> selected <%  }  %> value="2016-17">2016-17</option>
                                            <option <% if(pub.year == '2017-18'){ %> selected <%  }  %> value="2017-18">2017-18</option>
                                            <option <% if(pub.year == '2018-19'){ %> selected <%  }  %> value="2018-19">2018-19</option>
                                            <option <% if(pub.year == '2019-20'){ %> selected <%  }  %> value="2019-20">2019-20</option>
                                            <option <% if(pub.year == '2020-21'){ %> selected <%  }  %> value="2020-21">2020-21</option>
                                            <option <% if(pub.year == '2021-22'){ %> selected <%  }  %> value="2021-22">2021-22</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="col-sm-6">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Name of Module developed</label>
                                        <input required value="<%= pub.module %>" type="text" class="form-control" placeholder="Enter name of the module developed" name="module">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Name of Platform</label>
                                        <input required value="<%= pub.platform %>" type="text" class="form-control" placeholder="Enter name of the platform on which module is developed" name="platform">
                                    </div>
                                </div>
                                
                                <div class="col-sm-6">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Date of Launching E-Content</label>
                                        <input required value="<%= pub.date %>" type="date" class="form-control" placeholder="Enter the date" name="date">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Available E-content development Facility</label>
                                    <select class="form-control" name="facility">
                                        <option <% if(pub.facility == 'Media Centre'){ %>  selected <% } %> value="Media Centre">Media Centre</option>
                                        <option <% if(pub.facility == 'Audio-Visual Centre'){ %> selected <%  }  %> value="Audio-Visual Centre">Audio-Visual Centre</option>
                                        <option <% if(pub.facility == 'Lecture Capturing System'){ %> selected <%  }  %> value="Lecture Capturing System">Lecture Capturing System</option>
                                        <option <% if(pub.facility == 'Mixing Equipments & Softwares for Editing'){ %> selected <%  }  %> value="Mixing Equipments & Softwares for Editing">Mixing Equipments & Softwares for Editing</option>
                                        
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Link to Documents & Facility available</label>
                                        <input required value="<%= pub.doclink %>" type="text" class="form-control" placeholder="Enter the link to documents and facility avvailable" name="doclink">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Link to Videos</label>
                                        <input required value="<%= pub.videolink %>" type="text" class="form-control" placeholder="Enter the link to videos of media centre & recording facility" name="videolink">
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Status</label>
                                        <input required value="<%= pub.status1 %>" type="text" class="form-control" placeholder="Enter the Status" name="status1">
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <!-- text input -->
                                    <div class="form-group">
                                        <label>Comments</label>
                                        <input required value="<%= pub.comments %>" type="text" class="form-control" placeholder="Enter the Comments" name="comments">
                                    </div>
                                </div>
                            </div>
                            
                            
                            <button class="btn btn-dark" type="submit">Submit</button>
                        </form>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<%- include("footer") %>