<%- include("header") %> 



<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Attendance</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Coursewise Attendance</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements disabled -->
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">Attendance</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                       
                     
                        <div id="wdr-component"></div>
                        <link href="https://cdn.webdatarocks.com/latest/webdatarocks.min.css" rel="stylesheet"/>
                        <script src="https://cdn.webdatarocks.com/latest/webdatarocks.toolbar.min.js"></script>
                        <script src="https://cdn.webdatarocks.com/latest/webdatarocks.js"></script>
                        <script>
                            var pivot = new WebDataRocks({
	                            container: "#wdr-component",
	                            toolbar: true,
                                beforetoolbarcreated: customizeToolbar,
                            	report: {
		                            dataSource: {
			                            data:  [
                                        <% categories.forEach(function(data){ %>
                                            {
                                                "name": "<%= data.name %>",
                                                "regno": "<%= data.regno %>",
                                                "coursecode": "<%= data.coursecode %>",
                                                "course": "<%= data.course %>",
                                                "classdate": "<%= data.classdate %>",
                                                "section": "<%= data.section %>",
                                                "semester": "<%= data.semester %>",
                                                "status": <%= data.status %>

                                            },

                                        <% }) %>
                                        ]
                                    },

                                "slice": {
                                    "rows": [
                                        {
                                            "uniqueName": "name"
                                        },
                                        {
                                            "uniqueName": "regno"
                                        }
                                    ],
                                    "columns": [
                                        {   
                                            "uniqueName": "Measures"
                                        },
                                        {
                                            "uniqueName": "classdate.Month"
                                        },
                                        {
                                            "uniqueName": "classdate.Day"
                                        }
                                    ],
                                    "measures": [
                                        {
                                            "uniqueName": "status",
                                            "aggregation": "sum"
                                        }
                                    ]
                                }

	                            }
                            });

                            function customizeToolbar(toolbar) {
                                var tabs = toolbar.getTabs(); // get all tabs from the toolbar
                                toolbar.getTabs = function() {
                                delete tabs[0]; // delete the first tab
                                return tabs;
                                }
                            }
                        </script>




                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<%- include("footer") %> 