<%- include("headerstud") %> 



<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">View Course Attended</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">List Course Attended</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements disabled -->
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">List Course Attended</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                       
                        <table id="tbl-list-category" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <!-- <th>Coursecode</th> -->
                                    <th>Course Code</th>
                                    <!-- <th>Faculty</th> -->
                                    <!-- <th>Classdate</th> -->
                                    <!-- <th>Class time</th> -->
                                    <!-- <th>Audience</th> -->
                                    <!-- <th>Semester</th>
                                    <th>Link</th> -->
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% categories.forEach(function(data){ %>
                                <tr>
                                    <!-- <td><%= data.id %></td> -->
                                    <!-- <td><%= data.coursecode %></td> -->
                                    <td> <%= data %></td>
                                    <!-- <td><%= data.name %></td> -->
                                    <!-- <td><%= data.classdate %></td> -->
                                    <!-- <td><%= data.classtime %></td> -->
                                    <!-- <td>Section <%= data.section %> Semester <%= data.semester %></td> -->
                                    <!-- <td><%= data.semester %></td> -->
                                    <!-- <td><%= data.link %></td> -->
                                    <td>
                                        
                                    
                                        <a href="/viewcfilesstud/<%= data %>" class="btn btn-primary"><i class="far fa-file-alt" title="files"></i></a>
                                    
                                    </td>
                                </tr>
                                <% }) %>
                            </tbody>
                            <!-- <tfoot>
                                <tr>
                                    <th>#ID</th>
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot> -->
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<%- include("footer") %> 