
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Epaathsala Campus Technology</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="dist/css/adminlte.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body style="width: 100%; background-color: #fff;">
<div class="login-box123" style="width:100%; margin: 0px; padding: 10px; background-color: #fff;">
    <div style="border-width: 2px; border-color: black; border-style: solid; border-radius: 5px; padding: 20px;">
    <div class="login-logo" style="text-align: center; 
    background-image: url('https://onehourchallenge.in/learnimages/image002.jpg'); opacity: 0.9; background-repeat: no-repeat; background-size: cover;">
 

    <img style="margin-top: 20px;" src="https://jadavpuruniversity.s3-ap-south-1.amazonaws.com/9-2024-11-2048-FullLogo_Transparent_NoBuffer.png" width="200" height="80" />

    <br><br>

    <h4>A portfolio company of Times of India group</h4>
    
    <br>
    This certificate is awarded to <b><%= student %> </b>

    <br>
    for successfully completing online exam on <%= course %>
    <br>
   
</div>

<br><br>

<div class="container">
    <div class="row">
        <div class="col">
            <div style="margin-right: 20px;">
            <img src="https://onehourchallenge.in/iso2.png" width="150" height="150" />
            <!-- <br />
            <h4>ISO 9001</h4> -->
        </div>
          </div>
      <div class="col">
        <div style="margin-right: 20px;">
            <img src="https://onehourchallenge.in/sign1.png" width="200" height="100" />
            <br />
            <h4>Course coordinator</h4>
            <br />
        </div>
      </div>
     
      <div class="col">
        <div style="margin-left: 20px;">
            <br><br>
        <h4>Dated: <%= dt1 %></h4>
    </div>
      </div>
      <div class="col">
        <div style="margin-left: 20px;">
            <img src="https://quickchart.io/qr?text=https://ctserver1.azurewebsites.net/getcert?testid=<%= testid %>%26sessionid=<%= sessionid %>%26regno=<%= regno %>" />
            <!-- <img src="https://quickchart.io/qr?text=<%= weblink %>" /> -->
        
    </div>
      </div>
    </div>
  </div>



<!-- <div style="display: flex; justify-content: flex-end; margin-right: 20px; padding-right: 40px;">
    <div>
    <img src="https://onehourchallenge.in/sign1.png" width="200" height="100" />
    <br />
    <h4>Course coordinator</h4>
    <br />
</div>
</div> -->

  </div>
  

  <!-- <% if(messages.success){ %>
    <div class="alert alert-success">
      <%= messages.success %>
    </div>  
  <% } %>

  <% if(messages.error){ %>
    <div class="alert alert-danger">
      <%= messages.error %>
    </div>  
  <% } %> -->

     

  
</div>
<!-- /.login-box -->

<!-- jQuery -->
<script src="plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/adminlte.min.js"></script>

</body>
</html>
