<%- include("header") %> 



<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <!-- <div class="col-sm-6">
                <h1 class="m-0 text-dark">View Students</h1>
            </div>/.col -->
            <div class="col-sm-8">
                <!-- <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                    <li class="breadcrumb-item"><a href="/viewnaac">Criteria 6-Governance-Leadership-Management</a></li>
                    <li class="breadcrumb-item"><a href="/viewquality">Institutional Quality Initiatives</a></li>
                    <li class="breadcrumb-item active">List of quality initiatives</li>
                </ol> -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-md-14">
                <!-- general form elements disabled -->
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">View Institutional Quality Initiatives</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <!-- <form method="post" action="/exportquality" id="frm-export-category"></form> -->
                        <table>
                            <tr>
                                <td>
                                    <a class="btn btn-dark" href="/addquality">+ Add New</a>
                                </td>
                                <td width="20px"></td>
                                <td>
                                    <a class="btn btn-dark" href="/addbulkquality">+ Bulk Upload</a>
                                </td>
                                <!-- <td width="20px"></td>
                                <td>
                                    <a href="javascript:void(0)" onclick="if(confirm('Are you sure want to export ? ')){  $('#frm-export-category').submit()  }" class="btn btn-dark">Export to excel</a>
                                </td> -->
                            </tr>
                        </table>
                        
                        <br><br>
                        <table id="tbl-list-category" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Academic Year</th>
                                    <th>Type of Quality Initiatives</th>
                                    <th>Follow up Action</th>
                                    <th>Name of Collaborating Institution</th>
                                    <th>Name of Collaborative Activity</th>
                                    <th>Start date</th>
                                    <th>End date</th>
                                    <th>Status of Participation in NIRF</th>
                                    <th>Name of any other quality audit</th>
                                    <th>Status</th>
                                    <th>Comments</th>
                            
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% categories.forEach(function(data){ %>
                                <tr>
                                    <!-- <td><%= data.id %></td> -->
                                    <td><%= data.year %></td>
                                    <td><%= data.type %></td>
                                    <td><%= data.action %></td>
                                    <td><%= data.instname %></td>
                                    <td><%= data.activity %></td>
                                    <td><%= data.startdate %></td>
                                    <td><%= data.enddate %></td>
                                    <td><%= data.partstatus %></td>
                                    <td><%= data.other %></td>
                                    <td><%= data.status1 %></td>
                                    <td><%= data.comments %></td>
                                    
                                    <td>
                                        <a href="/editquality/<%= data.id %>" class="btn btn-primary"><i class="fa fa-edit"></i></a>
                                        <!-- <a href="http://naac2021.jdvu.ac.in/?criteria=1&Subsection=ValueAddedCourse&field1=<%= data.id %>" class="btn btn-primary" target="_blank"><i class="fas fa-upload"></i></a> -->
                                        <% link.forEach(function(data1){ %>
                                            <a href="<%= data1.uploadlink %>?criteria=6&Section=6.5.2/6.5.3&Subsection=InstitutionalQualityInitiatives&field1=<%= data.id %>&Year=<%= data.year %>" class="btn btn-primary" target="_blank"><i class="fas fa-upload"></i></a>


                                            <% }) %>
                                        <form method="post" action="/deletequality" id="frm-delete-category-<%= data.id %>">
                                        
                                            <input type="hidden" value="<%= data.id %>" name="category_id"/>

                                        </form>

                                    <a href="javascript:void(0)" onclick="if(confirm('Are you sure you want to delete ? ')){  $('#frm-delete-category-<%= data.id %>').submit()  }" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                                <% }) %>
                            </tbody>
                            <!-- <tfoot>
                                <tr>
                                    <th>#ID</th>
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot> -->
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<%- include("footer") %> 