<%- include("header") %> 



<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <!-- <div class="col-sm-6">
                <h1 class="m-0 text-dark">View Projects</h1>
            </div> -->
            <!-- /.col -->
            <div class="col-sm-8">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                    <li class="breadcrumb-item"><a href="/viewproject">My Details</a></li>
                    <li class="breadcrumb-item"><a href="/viewproject">Projects</a></li>
                    <li class="breadcrumb-item active">List of Projects</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-md-14">
                <!-- general form elements disabled -->
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">View Projects</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table>
                            <tr>
                                <td>
                                    <a class="btn btn-dark" href="/addproject">+ Add Project</a>
                                </td>
                                <td width="20px"></td>
                                <td>
                                    <a class="btn btn-dark" href="/addbulkproject">+ Bulk Upload</a>
                                </td>
                                
                            </tr>
                        </table>
                        
                      
                   
                    <br><br>
                        <table id="tbl-list-category" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Project</th>
                                    <th>Funding Agency</th>
                                    <th>Year of Award</th>
                                    <th>Funds Provided</th>
                                    <th>Duration of the Project</th>
                                    <th>Type</th>
                                    <th>Status</th>
                                    <th>Comments</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% categories.forEach(function(data){ %>
                                <tr>
                                    <!-- <td><%= data.id %></td> -->
                                    <td><%= data.project %></td>
                                    <td><%= data.agency %></td>
                                    <td><%= data.yop %></td>
                                    <td><%= data.funds %></td>
                                    <td><%= data.duration %></td>
                                    <td><%= data.type %></td>
                                    <td><%= data.status1 %></td>
                                    <td><%= data.comments %></td>
                                    <td>
                                        <a href="/editproject/<%= data.id %>" class="btn btn-primary"><i class="fa fa-edit"></i></a>
                                        <!-- <a href="http://naac2021.jdvu.ac.in/?criteria=3&Section=3.1.6&Subsection=Project&field1=<%= data.id %>" class="btn btn-primary" target="_blank"><i class="fas fa-upload"></i></a> -->
                                        <% link.forEach(function(data1){ %>
                                            <a href="<%= data1.uploadlink %>?criteria=3&Section=3.1.1/3.1.6&Subsection=Project&field1=<%= data.id %>&Year=<%= data.yop %>" class="btn btn-primary" target="_blank"><i class="fas fa-upload"></i></a>


                                            <% }) %>
                                        
                                        <form method="post" action="/deleteproject" id="frm-delete-category-<%= data.id %>">
                                        
                                            <input type="hidden" value="<%= data.id %>" name="category_id"/>

                                        </form>

                                    <a href="javascript:void(0)" onclick="if(confirm('Are you sure want to delete ? ')){  $('#frm-delete-category-<%= data.id %>').submit()  }" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                                <% }) %>
                            </tbody>
                            <!-- <tfoot>
                                <tr>
                                    <th>#ID</th>
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot> -->
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<%- include("footer") %> 