<%- include("header") %> 


<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">View Class Attendance</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Class Attendance Report</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements disabled -->
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">Class Attendance Report</h3>
                    </div>
                    <div id="chart_div"></div>
                    <!-- /.card-header -->
                    <div class="card-body">

                        <table>
                            <tr>
                                
                                <td>
                                    <a class="btn btn-dark" href="/addattendance?coursecode=<%= coursecode %>&course=<%= course %>&semester=<%= semester %>&section=<%= section %>&classid=<%= classid %>">+ Add Attendance</a>
                                </td>
                            </tr>
                        </table>
                        <br /><br />
                       
                        <table id="tbl-list-category" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Registration No</th>
                                    <th>Name</th>
                                    <th>Action</th>
                                  
                                </tr>
                            </thead>
                            <tbody>
                                <% categories.forEach(function(data){ %>
                                <tr>
                                    
                                    <td><%= data.regno %></td>
                                    <td><%= data.name %></td>
                                    <td>
                                        <form method="post" action="/deleteattendance?coursecode=<%= data.coursecode %>" id="frm-delete-category-<%= data.id %>">
                                        
                                            <input type="hidden" value="<%= data.id %>" name="category_id"/>

                                        </form>
                                        <a href="javascript:void(0)" onclick="if(confirm('Are you sure want to delete ? ')){  $('#frm-delete-category-<%= data.id %>').submit()  }" class="btn btn-danger"><i class="fa fa-trash" title="delete attendance"></i></a>
                                    </td>
                                    
                                    
                                   
                                </tr>
                                <% }) %>
                            </tbody>
                          
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<%- include("footer") %> 