<%- include("header") %> 



<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">View Books / Paper</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">List Books / Paper</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements disabled -->
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">List Books / Paper</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <a class="btn btn-dark" href="/addbook">+ Add New</a>
                        <br><br>
                        <table id="tbl-list-category" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Title of Book</th>
                                    <th>Title of Paper</th>
                                    <th>Title of Proceedings</th>
                                    <th>Year Of Publication</th>
                                    <th>ISSN / ISBN</th>
                                    <th>Publisher</th>
                                    <th>Affiliated</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% categories.forEach(function(data){ %>
                                <tr>
                                    <!-- <td><%= data.id %></td> -->
                                    <td><%= data.booktitle %></td>
                                    <td><%= data.papertitle %></td>
                                    <td><%= data.proceeding %></td>
                                    <td><%= data.yop %></td>
                                    <td><%= data.issn %></td>
                                    <td><%= data.publisher %></td>
                                    <td>
                                        <% if(data.affiliated == '1'){ %>
                                        <button class="btn btn-success">Yes</button>
                                        <% }else{ %>
                                        <button class="btn btn-danger">No</button>
                                        <% } %>
                                    </td>
                                    <td>
                                        <a href="/editbook/<%= data.id %>" class="btn btn-primary"><i class="fa fa-edit"></i></a>
                                        <!-- <a href="http://naac2021.jdvu.ac.in/?criteria=3&Section=3.4.6&Subsection=Book&field1=<%= data.id %>" class="btn btn-primary" target="_blank"><i class="fas fa-upload"></i></a> -->
                                        <% link.forEach(function(data1){ %>
                                            <a href="<%= data1.uploadlink %>?criteria=3&Section=3.4.6&Subsection=Book&field1=<%= data.id %>&Year=<%= data.yop %>&userid=<%= user %>" class="btn btn-primary" target="_blank"><i class="fas fa-upload"></i></a>


                                            <% }) %>
                                        <form method="post" action="/deletebook" id="frm-delete-category-<%= data.id %>">
                                        
                                            <input type="hidden" value="<%= data.id %>" name="category_id"/>

                                        </form>

                                    <a href="javascript:void(0)" onclick="if(confirm('Are you sure want to delete ? ')){  $('#frm-delete-category-<%= data.id %>').submit()  }" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                                <% }) %>
                            </tbody>
                            <!-- <tfoot>
                                <tr>
                                    <th>#ID</th>
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot> -->
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<%- include("footer") %> 