<%- include("header") %> 



<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">View Faculty List</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">All Faculties</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements disabled -->
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">View Faculties</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                       
                        <table id="tbl-list-category" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Password</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% categories.forEach(function(data){ %>
                                <tr>
                                    
                                    <td><%= data.name %></td>
                                    <td><%= data.email %></td>
                                    <td><%= data.password %></td>
                                    
                                    
                                    <td>
                                        <a href="/facultyfeedbackreport/<%= data.email %>" class="btn btn-primary"><i class="fas fa-signal" title="feedback report"></i></a>
                                        <a href="/facultyclassreport/<%= data.email %>" class="btn btn-primary"><i class="fas fa-graduation-cap" title="class report"></i></a>
                                        <a href="/viewworkload/<%= data.email %>?name=<%= data.name %>" class="btn btn-primary"><i class="fas fa-briefcase" title="Add workload"></i></a>

                                        <form method="post" action="/deletefaculty" id="frm-delete-category-<%= data.id %>">
                                        
                                            <input type="hidden" value="<%= data.id %>" name="category_id"/>

                                        </form>

                                    <a href="javascript:void(0)" onclick="if(confirm('Are you sure want to delete ? ')){  $('#frm-delete-category-<%= data.id %>').submit()  }" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                                      

                                    
                                    </td>
                                </tr>
                                <% }) %>
                            </tbody>
                          
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<%- include("footer") %> 