<%- include("header") %> 



<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <!-- <div class="col-sm-6">
                <h1 class="m-0 text-dark">View Books / Paper</h1>
            </div> -->
            <!-- /.col -->
            <div class="col-sm-8">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                    <li class="breadcrumb-item active">CO Attainment</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-md-14">
                <!-- general form elements disabled -->
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">CO attainment</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                       Note: The calculation assumes equal distribution of three COs in the total IA marks.
                       <br /><br />

                        <table>
                            <tr>
                                <td>Coursecode</td>
                                <td><%= coursecode %></td>
                            </tr>
                            <tr>
                                <td>CO1</td>
                                <td><%= co1 %></td>
                            </tr>
                            <tr>
                                <td>CO2</td>
                                <td><%= co2 %></td>
                            </tr>
                            <tr>
                                <td>CO3</td>
                                <td><%= co3 %></td>
                            </tr>
                        </table>
                        
                        <br><br>
                       
                                  
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<%- include("footer") %> 