<%- include("header") %> 



<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">View Add on Course</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">List of Courses</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements disabled -->
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">List of courses</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <a class="btn btn-dark" href="/createaddoncourse">+ Add New</a>
                        <br><br>
                        <table id="tbl-list-category" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Course</th>
                                    <th>Details</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% categories.forEach(function(data){ %>
                                <tr>
                                    <!-- <td><%= data.id %></td> -->
                                    <td><%= data.coursecode %> <%= data.coursetitle %> <%= data.coursetype %> <%= data.category %> Price <%= data.price %></td>
                                    <td>Offered on <%= data.year %> No of times offered <%= data.offeredtimes %> Duration in months <%= data.duration %> Enrolled <%= data.studentsenrolled %> Completed <%= data.studentscompleted %></td>
                                    <td>
                                        <a href="/editaddoncourse/<%= data.id %>" class="btn btn-primary"><i class="fa fa-edit"></i></a>
                                        <a href="/viewvacclass/<%= data.id %>" class="btn btn-primary"><i class="fas fa-video" title="create class" ></i></a>
                                        <a href="/viewvacclassenroll/<%= data.id %>" class="btn btn-primary"><i class="fas fa-address-book" title="Enrolled student list"></i></a>
                                        <!-- <a href="http://naac2021.jdvu.ac.in/?criteria=1&Subsection=ValueAddedCourse&field1=<%= data.id %>" class="btn btn-primary" target="_blank"><i class="fas fa-upload"></i></a> -->
                                        <% link.forEach(function(data1){ %>
                                            <a href="<%= data1.uploadlink %>?criteria=1&Subsection=ValueAddedCourse&field1=<%= data.id %>&Year=<%= data.yop %>" class="btn btn-primary" target="_blank"><i class="fas fa-upload"></i></a>


                                            <% }) %>
                                        <form method="post" action="/deleteaddoncourse" id="frm-delete-category-<%= data.id %>">
                                        
                                            <input type="hidden" value="<%= data.id %>" name="category_id"/>

                                        </form>

                                    <a href="javascript:void(0)" onclick="if(confirm('Are you sure want to delete ? ')){  $('#frm-delete-category-<%= data.id %>').submit()  }" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                                <% }) %>
                            </tbody>
                            <!-- <tfoot>
                                <tr>
                                    <th>#ID</th>
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot> -->
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<%- include("footer") %> 